<launch>
    <!-- 启动 turtlesim 仿真节点 -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node"/>  

    <!-- 用 rosparam 加载 yaml 参数文件 -->
    <rosparam file="$(find package2)/config/params.yaml" command="load" ns="~"/>  

    <!-- 启动 Python 发布节点 -->
    <node pkg="package2" type="turtle_speed_publisher.py" name="turtle_speed_publisher" output="screen"/>  

    <!-- 启动 C++ 控制节点 -->
    <node pkg="package2" type="turtle_controller" name="turtle_controller" output="screen"/>  
</launch>